* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}
a {
  text-decoration: none;
}

header {
  background-color: rgb(128, 162, 62);
  display: flex;
  align-items: center;
  padding: 15px 0;
}
header a {
  color: white;
}

header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#logo {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 500;
}

#menu li {
  padding: 10px;
}
#social-links li {
  padding: 10px;
}

#main {
  display: flex;
}
aside {
  padding: 10px;
  flex: 0 0 20vw;
  background-color: beige;
}
aside ul {
  list-style-type: none;
  padding: 0;
}
aside li a {
  color: rgb(128, 162, 62);
  display: block;
  padding: 10px;
  border-bottom: 1px solid grey;
}
aside img {
  width: 100%;
}
article {
  padding: 10px;
}
.services-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-box {
  padding: 10px;
  flex-basis: 32%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(234, 230, 230);
}
.service-box h2 {
  margin: 5px 0 10px;
}
.service-box p {
  margin: 0 0 10px;
}
.call-to-action {
  align-self: flex-start;
  margin-top: auto;
}
.call-to-action a {
  background-color: grey;
  color: #fff;
  padding: 8px 13px;
  display: block;
  border: 2px solid transparent;
}
.call-to-action a:hover {
  background-color: transparent;
  color: grey;
  border: 2px solid grey;
}
.service-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
footer {
  background-color: rgb(128, 162, 62);
  color: #fff;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  aside {
    flex: 0 0 30vw;
  }
  .service-box {
    flex-basis: 48%;
  }
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  #logo {
    order: -1;
  }
  #main {
    flex-direction: column;
  }
  #main article {
    order: -1;
  }
  .services-container {
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  .service-box {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 450px) {
}
